@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

html {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  height: 100%;
  background-color: hsl(185, 41%, 84%);
}

body {
  height: 100%;
  margin: 0;
  background-color: hsl(185, 41%, 84%);
}
#app {
  height: 100%;
  background-color: hsl(185, 41%, 84%);
}
